.filter {
    &__header {
        padding: var(--spacing-xs);
        border-bottom: 1px solid #DFE3E9;
        background-color: #FFF;
    }
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
}

.form__group--search {
    border-color: #DFE3E9;
    width: 300px;

    .form__input {
        padding: var(--spacing-s);
        font-size: 0.90rem;
        line-height: 1.5;
    }
}
